{% extends 'base.html' %}
{% block content %}
 
<form action="/transactions/{{transaction.id}}" method="POST">
    <div>
        <label for="amount">Amount: &#163;</label>
        <input type="text" name="amount" id="amount" value="{{transaction.amount}}" required>
    </div>

    <div>
        <label for="category">Category: </label>
        <select name="category_id" id="category">
            {% for category in categorys %}
                {% if category.activated == False %}
                    <option value="{{category.id}}" disabled>{{category.name}}</option>
                    
                {% else %}
                    <option value="{{ category.id }}"
                        {% if transaction.category.id == category.id %} selected=selected {% endif %}>
                        {{ category.name }}
                    </option>  
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="date">Date: </label>
        <input type="date" name="date" id="date" value="{{transaction.date}}">
    </div>
    
    <div>
        <label for="merchant">Merchant: </label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
                <option value="{{ merchant.id }}"
                    {% if transaction.merchant.id == merchant.id %} selected=selected {% endif %}>
                    {{ merchant.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div>
        <label for="user">User: </label>
        <select name="user_id" id="user">
            {% for user in users %}
                <option value="{{user.id}}" {% if transaction.user.id == user.id%} selected=selected {% endif %}>
                    {{user.name}}
                </option>   
            {% endfor %}
        </select>
    </div>
    <br>
    <button type="submit">Save</button>
    
</form>




{% endblock %}