{% extends 'base.html' %}
{% block content %}


<h2>Transactions</h2>
<br>
<form action="/transactions/new">
    <button>Add Transaction</button></form>

<hr>


<table class="table" style="width:80%;">
    <thead>
    <tr>
        <th>Category</th>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    {% for transaction in transactions  %}
    <tbody>

    <tr>
    
        <td style="text-align: center;">{{transaction.category.name}}</td>
        <td style="text-align: center;">{{transaction.merchant.name}}</td>
        <td style="text-align: center;">{{transaction.amount}}</td>
        <td style="text-align: center;">{{transaction.date}}</td>
        <td style="text-align: center;"><form action="/transactions/{{transaction.id}}/edit">
            <button>&#x270e;</button> </form></td>
        <td style="text-align: center;"><form action="/transactions/{{transaction.id}}/delete" method="POST">
            <button>&#128465;</button>  </form></td>
    </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <th id="total" colspan="2" style="text-align: center;">Total: </th>
            <td style="text-align: center;"><u>{{total}}</u></td>
        </tr>
    </tbody> 
</table>

<h3>Sort Transactions by:</h3>
<form action="/transactions/filteredmonth" method="POST">
<label for="filter">Sort by Month:</label>
    <select name="filter" id="filter">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    <button type="submit">Submit</button>
</form>

<form action="/transactions/filteredcategory" method="POST">
<h3>Sort by Category:</h3>
    <label for="filter">Sort by Category: </label>
    <select name="filter" id="filter">
        {% for category in categorys %}
            <option value="{{category.id}}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
{% endblock %}