{% extends 'base.html' %}
{% block content %}
 
<a href="/transactions/new">Add Transaction</a>
<h2>Transactions</h2>
<hr>

<table style="width:90%">
    <thead>
    <tr>
        <th>Category</th>
        <th>Merchant</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    {% for transaction in transactions  %}
    <tbody>

    <tr>
    
        <td style="text-align: center;">{{transaction.category.name}}</td>
        <td style="text-align: center;">{{transaction.merchant.name}}</td>
        <td style="text-align: center;">{{transaction.amount}}</td>
        <td style="text-align: center;">{{transaction.date}}</td>
        <td style="text-align: center;"><form action="/transactions/{{transaction.id}}/edit">
            <button>&#x270e;</button> </form></td>
        <td style="text-align: center;"><form action="/transactions/{{transaction.id}}/delete" method="POST">
            <button>&#128465;</button>  </form></td>

    
    </tr>
    </tbody>    
    {% endfor %}
</table>

{% endblock %}