{% extends 'base.html' %}
{% block content %}
    
    <h2>New Transaction</h2>
    <hr>

    <form action="/transactions" method="POST">
        <br>
        <div>
            <label for="amount">Enter the transaction amount: &#163;</label>
            <input type="text" name="amount", id="amount">
        </div>

        <br>
        <div>
            <label for="merchant">Where did you make this purchase ? </label>
            <select name="merchant_id" id="merchant">
                {% for merchant in merchants %}
                    {% if merchant.activated == False %}
                    <option value="{{merchant.id}}" disabled>{{merchant.name}}</option>
                    {% else %}   
                    <option value="{{ merchant.id }}">{{ merchant.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <label for="date"> When did you make this purchase ? </label><br>
            <input type="date" name="date" id="date">
        </div>
        <br>
        <div>
            <label for="category">What category is this transaction? </label>
            <select name="category_id" id="category">
                {% for category in categorys %}
                    {% if category.activated == False %}
                    <option value="{{category.id}}" disabled>{{category.name}}</option>
                    {% else %}   
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %} <br>
            </select>
        </div>
        <br>
        <div>
            <label for="user">Who completed the transaction? </label>
            <select name="user_id" id="user">
                {% for user in users %}
                <option value="{{user.id}}">{{user.name}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
    <button type="submit">Add</button>

    </form>

    {% endblock %}

    