{% extends 'base.html' %}
{% block content %}
    
<h2>New Category</h2>
<hr>

<form action="/categorys" method="POST">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required>
    </div>

    <!-- <div>
        <label for="icon">Select an icon: </label>
        <label for="icon"> <i>&#xf52f;</i></label>
        <input type="checkbox" name="icon" id="icon" value=&#xf52f;>
 
            <option value="food"> &#xf818; </option>
            <option value="children"> &#xf77c; </option>


            <option value="pet"> &#xf1b0; </option>
            <option value="clothing"> &#xf553; </option>
            <option value="holiday"> &#xf072; </option>
            <option value="birthday"> &#xf1fd; </option>
            <option value="entertainment"> &#xf818; </option>
            <option value="energy"> &#xf0eb; </option>
            <option value="social"> &#xf79f; </option>
        </select> -->
    <!-- </div> -->

    <button type="submit">Add Category</button>

</form>




{% endblock %}