{% extends 'base.html' %}
{% block content %}
    
    <form action="/users/{{user.id}}" method="POST">
        <label for="name">Name: </label><br>
        <input type="text" name="name" id="name" value="{{user.name}}"><br>
        <br>
        <label for="spending_limit">What would you like to set your spending limit to ?</label><br>
        <input type="spending_limit" name="spending_limit" id="spending_limit" value="{{user.spending_limit}}" required>

        <br>
        <button type="submit">Submit</button>

    </form>

{% endblock %}