<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <header>
        <h1>Savy Spender</h1>
        <img src="../static/cool_pig.jpg" alt="piggybank" style="resize: 30%;">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/transactions">Transactions</a></li>
                <li><a href="/transactions/new">Add Transaction</a></li>
                <li><a href="/merchants">Merchants</a></li>
                <li><a href="/categorys">Categorys</a></li>
            </ul>           
        </nav>
    </header>
    <div class="container">  
        {% block content %}
        
        {% endblock %}    
    </div>


</body>
</html>