<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>Spending Tracker</title>
</head>
<body>
    <header>
        <img src="../static/cool_pig.jpg" alt="piggybank" style="resize: 30%;">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/transactions/new">New Transactions</a></li>
            </ul>
            <form action="/transactions">
                <button>Transactions</button></form>
        </nav>


    </header>
    
    {% block content %}
        
    {% endblock %}

</body>
</html>