{% extends 'base.html' %}

{% block content %}
<p>
    <h2 style="text-align: center;">Managing money has never been easier</h2>
    <h3 style="text-align: center;">Savy Spender is an expense tracker that allows you to keep track of your expenses and savings all in one place.</h3>
</p>
<br>
<h2>If you are a new user click here</h2>
<form action="/users/new">
    <button class="NewUserButton">New User</button></form>


<h2>Otherwise lets get started..</h2>
        <section class="flex-container">
            <div class="content">
                <form action="/merchants/new">
                    <button >Add Merchant</button></form>
            </div>

            <div class="content">
                <form action="/categorys/new">
                    <button>Add Category</button>  </form>
            </div>
            <div class="content">
                <form action="/transactions">
                    <button> SeeTransactions</button></form>
        </div>
    </section>



{% endblock %}