{% extends 'base.html' %}

{% block content %}
    

    <h2>Managing money has never been easier</h2>
    <h3>SS is a money tracker that allows you to keep track of your expenses and savings all in one place.</h3>

    <br>
    <form action="/users/new">
        <button>New User</button></form>



    <h2>Lets get started..</h2>


    <div class="flex-container">
        <h4>Add a new Merchant..</h4>
        <form action="/merchants/new">
            <button >New Merchant</button>  </form>

        <h4>Add a new Category..</h4>
        <form action="/categorys/new">
            <button>New Category</button>  </form>

        <h4>See Transaction history..</h4>
        <form action="/transactions">
            <button>Transactions</button></form>
    </div>



{% endblock %}