{% extends 'base.html' %}

{% block content %}
    
This will be the homepage

<form action="/users" method="POST">
    <div>
        <label for="name">User name:</label>
        <input type="text" name="name" id="name">
    </div>

    <div>
        <label for="spending_limit">Set a spending limit: &#163;</label>
        <input type="text" name="spending_limit" id="spending_limit">
    </div>

    <div>
        <label for="savings_goal">Set a spending goal: &#163;</label>
        <input type="text" name="savings_goal" id="savings_goal">
    </div>

    <button type="submit">Submit</button>




</form>

{% endblock %}