{% extends 'base.html' %}
{% block content %}

<h2>Merchants</h2>

<form action="/merchants/new">
    <button>New Merchant</button>  </form>

<hr>
<div class="flex-container">
{% for merchant in merchants %}
    
        <div class="grid-content">
            {{ merchant.name }}<br>
            {{ merchant.location }}<br>
            Activated: 
        {% if merchant.activated ==True %}
            &#10003;
        {% else %}
            &#10060;
        {% endif %}<br>
        <br>
        </div>
        <div class="following">
        <form action="/merchants/{{ merchant.id }}/edit">
            <button>Edit</button></form>
        <form action="/merchants/{{merchant.id}}/delete" method="POST">
            <button>Delete</button></form>
        <br>
        </div>
    
{% endfor %}
</div>


{% endblock %}