body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: deepskyblue;
    display: grid;
    grid-row: 2fr 2fr 2fr;
    grid-column: 2fr 2fr 2fr;
    padding: 10px;
    margin: 50px;
    border-width: 20px;
    border-style: dashed;
    
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 20px;
    color: rebeccapurple;
}

header button {
    border-radius: 25px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: center;
    background-color: powderblue;
    margin: 0px;
    padding: 0px;
}
 
body > header > img {
    max-width: 20%;
    max-height: auto;
    resize: 10%;
}

.table {
    background-color: paleturquoise;
    position: center;
}

input {
    width: 80%;
    background-color: thistle;
    position: center;
    padding: 10px;
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-content {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr;
}

.following {
    grid-row-start: 2;
}


button{
        background-color: skyblue;
        color: darkblue;
        padding: 10px;
        text-align: center;
        text-decoration: wavy;
        display: inline-block;
        font-size: 16px;
        border-radius: 25px;

      }

button:hover{
    color: slateblue;
    background-color: turquoise;
    font-weight: bolder;
}
