body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: deepskyblue;
    display: grid;
    grid-row: 2fr 2fr 2fr;
    grid-column: 2fr 2fr 2fr;
    padding: 10px;
    margin: 100px;
}

header button {
    border-radius: 25px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;

}

.table {
    background-color: paleturquoise;
    position: center;
}

header{
    display: flex;
    justify-content: center;
    background-color: powderblue;
    margin: 0px;
    padding: 0px;
}


input {
    width: 80%;
    background-color: thistle;
    position: center;
    padding: 10px;
    margin: 10px;
}

body > header > img {
    max-width: 20%;
    max-height: auto;
    resize: 10%;
}

.user-button {
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-content {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr;
}

.following {
    grid-row-start: 2;
}


button{
        background-color: darkmagenta;
        border: solid;
        color: white;
        padding: 2px;
        text-align: center;
        text-decoration: wavy;
        display: inline-block;
        font-size: 16px;
      }
.icon-button{
    background-color: white;
    background-origin: none;
    padding: 5px;
}