body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: deepskyblue;
    display: grid;
    grid-row: 2fr 2fr 2fr;
    grid-column: 2fr 2fr 2fr;
    padding: 10px;
    margin: 10px;
}

header{
    display: flex;
    justify-content: center;
}
 
header button {
    border-radius: 25px;
    flex-direction: row;
    justify-items: stretch;

}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > ul > li {
    list-style: none;
    font-family: ICambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px


}


input {
    width: 80%;
    background-color: thistle;
    position: center;
    padding: 10px;
    margin: 10px;
}

body > header > img {
    max-width: 20%;
    max-height: auto;
    resize: 10%;
}

.user-button {
    color: white;
    border-radius: 25px;
}

.flex-container {
    display: grid;
    grid-area: auto;
    grid-row: auto;
    grid-column: 2fr 2fr 2fr;

}



.grid-content {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr;
}



section {
    display: flex;
    justify-content: space-between;
}

button{
        background-color: darkmagenta;
        border: solid;
        color: white;
        padding: 2px;
        text-align: center;
        text-decoration: wavy;
        display: inline-block;
        font-size: 16px;
      }
.icon-button{
    background-color: white;
    background-origin: none;
    padding: 5px;
}

.table{
    background-color: cornflowerblue;
    position: relative;
    border: black;
    border-width: 20px;
    margin-right: 20px;
}